<div class="content">
  <label>Competency: <input #competency/></label>&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="createCompetency(competency.value); competency.value = ''">Create Competency</button>

  <h4>List of Competencies:</h4><br>
  <div *ngIf="competencies" class="table-responsive">
    <table class="table table-hover table-bordered" width="100%">
      <thead class="thead-dark">
      <tr>
        <th width="2%" scope="col">#</th>
        <th scope="col">Competency</th>
        <th width="5%" scope="col">Edit</th>
        <th width="5%" scope="col">Delete</th>
      </tr>
    </thead>
      <tr *ngFor="let competency of competencies">
        <th scope="row"> {{competency.id}} </th>
        <td> {{competency.competency}} </td>
        <td><a class="btn btn-outline-primary" href="/competency?id={{competency.id}}" role="button">Edit</a></td>
        <td class="bg-dark"><button class="btn btn-danger" (click)="deleteCompetency(competency)">DELETE</button></td> <!-- WIP -->
      </tr>
    </table>
  </div>
</div>
